

<div class="section-footer">
	<div class="padding-global">
		<div class="container-large">
			<div class="padding-top padding-large"></div>
			<div class="footer-top-content">
				<div class="footer-left-content">
					<h4 class="heading-style-h4 is-white">Join With Us</h4>
					<div class="text-size-medium text-color-white">We’ll send you Daily special offers.</div>
				</div>
				<div class="footer-newsletter-from-block w-form">
					<form id="email-form" name="email-form" data-name="Email Form" method="get" class="footer-newsletter-from" data-wf-page-id="65bef1f0a7461fca4f8ff5d0" data-wf-element-id="6e977d41-f7c0-8923-0e8e-fab95566e8dc">
						<input class="footer-newsletter-from-input w-input" maxlength="256" name="email-2" data-name="Email 2" placeholder="Enter your email" type="email" id="email-2" required="" />
						<input type="submit" data-wait="Please wait..." class="button is-footer w-button" value="Subscribe" />
					</form>
					<div class="success-message w-form-done">
						<div>Thank you! Your submission has been received!</div>
					</div>
					<div class="error-message w-form-fail">
						<div>Oops! Something went wrong while submitting the form.</div>
					</div>
					<div class="text-size-regular text-color-white">
						We care about your data in our
						<a href="~//licenses" class="footer-page-link">privacy policy</a>
					</div>
				</div>
			</div>
			<div class="padding-bottom padding-large"></div>
			<div class="w-layout-grid footer-grid">
				<a id="w-node-_6e977d41-f7c0-8923-0e8e-fab95566e8eb-5566e8d1" href="~//" aria-current="page" class="footer-logo-wrapper w-inline-block w--current">
					<img src="./images/white-20logo.svg" loading="lazy" alt="" class="footer-logo" />
				</a>
				<div id="w-node-_6e977d41-f7c0-8923-0e8e-fab95566e8ed-5566e8d1" class="footer-link-list">
					<a href="~//" aria-current="page" class="footer-link w--current">Home</a>
					<a href="~//aboutUs" class="footer-link">About</a>
					<a href="~//case-study" class="footer-link">Success story</a>
					<a href="~//blog" class="footer-link">Blog</a>
					<a href="~//career" class="footer-link">Career</a>
					<a href="~//contact" class="footer-link">Contact</a>
				</div>
				<div id="w-node-_6e977d41-f7c0-8923-0e8e-fab95566e8fa-5566e8d1" class="footer-social-link-wrapper">
					<a href="~/https://www.linkedin.com/" target="_blank" class="footer-social-link w-inline-block">
						<img src="./images/linked-20in.svg" loading="lazy" alt="" class="footer-social-link-icon" />
					</a>
					<a href="~/https://www.instagram.com/" target="_blank" class="footer-social-link w-inline-block">
						<img src="./images/instagram.svg" loading="lazy" alt="" class="footer-social-link-icon" />
					</a>
					<a href="~/https://www.facebook.com/" target="_blank" class="footer-social-link w-inline-block">
						<img src="./images/facebook.svg" loading="lazy" alt="" class="footer-social-link-icon" />
					</a>
					<a href="~/https://twitter.com/" target="_blank" class="footer-social-link w-inline-block">
						<img src="./images/twitter-x.svg" loading="lazy" alt="" class="footer-social-link-icon" />
					</a>
				</div>
			</div>
			<div class="padding-bottom padding-large"></div>
			<div class="footer-divider"></div>
			<div class="footer-bottom-content">
				<div class="text-size-regular text-color-white">
					Powered by
					<a href="~/https://webflow.com/" target="_blank" class="footer-website-link">Webflow </a>| Designed by
					<a href="~/https://webocean.io/" target="_blank" class="footer-website-link">WebOcean</a>
				</div>
				<div class="footer-link-list">
					<a href="~//style-guide" class="footer-link">Style guide</a>
					<a href="~//licenses" class="footer-link">Licenses</a>
					<a href="~//change-log" class="footer-link">Changelog</a>
				</div>
			</div>
		</div>
	</div>
</div>
