<div class="main-wrapper">
	<div class="section-service">
		<div class="padding-global">
			<div class="container-large">
				<div class="padding-section-large">
					<div class="service-component">
						<div data-w-id="3d15b36b-10d3-f0e0-dd89-7a363de13a4b" style="opacity:10" class="service-top-content">
							<h2 class="heading-style-h2">Our Digital Marketing Services</h2>
							<div class="text-size-medium">Unveiling Comprehensive Solutions Through Our Cutting-Edge Digital Marketing Services</div>
						</div>
						<div class="padding-bottom padding-medium"></div>
						<div class="service-collection-list-wrapper w-dyn-list">
							<div data-w-id="3d15b36b-10d3-f0e0-dd89-7a363de13a52" style="opacity:10" role="list" class="service-collection-list w-dyn-items">
								<div role="listitem" class="service-collection-list-item w-dyn-item">
									<a data-w-id="3d15b36b-10d3-f0e0-dd89-7a363de13a54" href="/service/seo-search-engine-optimization" class="service-card w-inline-block">
										<div class="service-icon-wrapper">
											<img alt="" loading="lazy" src="~/images/icon-2003.svg" class="service-icon" />
										</div>
										<div style="height:65px" class="service-card-content">
											<div class="margin-bottom margin-xsmall">
												<h5 class="heading-style-h5 text-color-white">SEO (Search Engine Optimization)</h5>
											</div>
											<p class="text-size-regular text-color-gray">We can help you achieve high rankings in the major search engines.</p>
											<div class="padding-bottom padding-small"></div>
											<div class="service-arrow-button">
												<img src="~/images/right-20arrow.svg" loading="lazy" alt="" />
											</div>
										</div>
									</a>
								</div>
								<div role="listitem" class="service-collection-list-item w-dyn-item">
									<a data-w-id="3d15b36b-10d3-f0e0-dd89-7a363de13a54" href="/service/smm-social-media-marketing" class="service-card w-inline-block">
										<div class="service-icon-wrapper">
											<img alt="" loading="lazy" src="~/images/services-20icon-2002.svg" class="service-icon" />
										</div>
										<div style="height:65px" class="service-card-content">
											<div class="margin-bottom margin-xsmall">
												<h5 class="heading-style-h5 text-color-white">SMM (Social Media Marketing)</h5>
											</div>
											<p class="text-size-regular text-color-gray">We can help you achieve high rankings in the major search engines.</p>
											<div class="padding-bottom padding-small"></div>
											<div class="service-arrow-button">
												<img src="~/images/right-20arrow.svg" loading="lazy" alt="" />
											</div>
										</div>
									</a>
								</div>
								<div role="listitem" class="service-collection-list-item w-dyn-item">
									<a data-w-id="3d15b36b-10d3-f0e0-dd89-7a363de13a54" href="/service/website-design-development-" class="service-card w-inline-block">
										<div class="service-icon-wrapper">
											<img alt="" loading="lazy" src="~/images/icon-2005.svg" class="service-icon" />
										</div>
										<div style="height:65px" class="service-card-content">
											<div class="margin-bottom margin-xsmall">
												<h5 class="heading-style-h5 text-color-white">Website Design &amp; Development </h5>
											</div>
											<p class="text-size-regular text-color-gray">We can help you achieve high rankings in the major search engines.</p>
											<div class="padding-bottom padding-small"></div>
											<div class="service-arrow-button">
												<img src="~/images/right-20arrow.svg" loading="lazy" alt="" />
											</div>
										</div>
									</a>
								</div>
								<div role="listitem" class="service-collection-list-item w-dyn-item">
									<a data-w-id="3d15b36b-10d3-f0e0-dd89-7a363de13a54" href="/service/email-marketing-ppc-marketing" class="service-card w-inline-block">
										<div class="service-icon-wrapper">
											<img alt="" loading="lazy" src="~/images/icon-2006.svg" class="service-icon" />
										</div>
										<div style="height:65px" class="service-card-content">
											<div class="margin-bottom margin-xsmall">
												<h5 class="heading-style-h5 text-color-white">Email Marketing &amp; PPC Marketing</h5>
											</div>
											<p class="text-size-regular text-color-gray">We can help you achieve high rankings in the major search engines.</p>
											<div class="padding-bottom padding-small"></div>
											<div class="service-arrow-button">
												<img src="~/images/right-20arrow.svg" loading="lazy" alt="" />
											</div>
										</div>
									</a>
								</div>
								<div role="listitem" class="service-collection-list-item w-dyn-item">
									<a data-w-id="3d15b36b-10d3-f0e0-dd89-7a363de13a54" href="/service/amazon-marketing" class="service-card w-inline-block">
										<div class="service-icon-wrapper">
											<img alt="" loading="lazy" src="~/images/icon-2010.svg" class="service-icon" />
										</div>
										<div style="height:65px" class="service-card-content">
											<div class="margin-bottom margin-xsmall">
												<h5 class="heading-style-h5 text-color-white">Amazon Marketing</h5>
											</div>
											<p class="text-size-regular text-color-gray">We can help you achieve high rankings in the major search engines.</p>
											<div class="padding-bottom padding-small"></div>
											<div class="service-arrow-button">
												<img src="~/images/right-20arrow.svg" loading="lazy" alt="" />
											</div>
										</div>
									</a>
								</div>
								<div role="listitem" class="service-collection-list-item w-dyn-item">
									<a data-w-id="3d15b36b-10d3-f0e0-dd89-7a363de13a54" href="/service/video-marketing" class="service-card w-inline-block">
										<div class="service-icon-wrapper">
											<img alt="" loading="lazy" src="~/images/icon-2009.svg" class="service-icon" />
										</div>
										<div style="height:65px" class="service-card-content">
											<div class="margin-bottom margin-xsmall">
												<h5 class="heading-style-h5 text-color-white">Video Marketing </h5>
											</div>
											<p class="text-size-regular text-color-gray">We can help you achieve high rankings in the major search engines.</p>
											<div class="padding-bottom padding-small"></div>
											<div class="service-arrow-button">
												<img src="~/images/right-20arrow.svg" loading="lazy" alt="" />
											</div>
										</div>
									</a>
								</div>
								<div role="listitem" class="service-collection-list-item w-dyn-item">
									<a data-w-id="3d15b36b-10d3-f0e0-dd89-7a363de13a54" href="/service/conversion-rate-optimization" class="service-card w-inline-block">
										<div class="service-icon-wrapper">
											<img alt="" loading="lazy" src="~/images/icon-2008.svg" class="service-icon" />
										</div>
										<div style="height:65px" class="service-card-content">
											<div class="margin-bottom margin-xsmall">
												<h5 class="heading-style-h5 text-color-white">Conversion Rate Optimization</h5>
											</div>
											<p class="text-size-regular text-color-gray">We can help you achieve high rankings in the major search engines.</p>
											<div class="padding-bottom padding-small"></div>
											<div class="service-arrow-button">
												<img src="~/images/right-20arrow.svg" loading="lazy" alt="" />
											</div>
										</div>
									</a>
								</div>
								<div role="listitem" class="service-collection-list-item w-dyn-item">
									<a data-w-id="3d15b36b-10d3-f0e0-dd89-7a363de13a54" href="/service/influencer-marketing" class="service-card w-inline-block">
										<div class="service-icon-wrapper">
											<img alt="" loading="lazy" src="~/images/icon-2007.svg" class="service-icon" />
										</div>
										<div style="height:65px" class="service-card-content">
											<div class="margin-bottom margin-xsmall">
												<h5 class="heading-style-h5 text-color-white">Influencer Marketing</h5>
											</div>
											<p class="text-size-regular text-color-gray">We can help you achieve high rankings in the major search engines.</p>
											<div class="padding-bottom padding-small"></div>
											<div class="service-arrow-button">
												<img src="~/images/right-20arrow.svg" loading="lazy" alt="" />
											</div>
										</div>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section-cta">
		<div class="padding-global">
			<div class="container-large">
				<div class="padding-section-large">
					<div data-w-id="227eab8f-8b19-2d1e-89b8-1fca1ffab216" style="opacity:10" class="cta-component">
						<div class="cta-content">
							<h2 class="heading-style-h2">Are you ready to take your company revenue next level?</h2>
							<a href="/contact" class="button secondary w-button">Contact Us</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section-testimonial">
		<div class="padding-global">
			<div class="container-large">
				<div class="padding-section-large">
					<div data-delay="4000" data-animation="slide" class="testimonial-slider w-slider" data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true">
						<div class="testimonial-slider-mask w-slider-mask">
							<div class="testimonial-slide w-slide">
								<div class="testimonial-slide-content">
									<a href="#" data-w-id="60705340-3e9a-e205-d43c-b5b72f8a1b2c" class="testimonial-lightbox-image-wrapper w-inline-block w-lightbox">
										<img src="~/images/rectangle-206.png" loading="lazy" sizes="(max-width: 479px) 93vw, (max-width: 991px) 94vw, 34vw" srcset="images/rectangle-206-p-500.png 500w, images/rectangle-206.png 589w" alt="" class="testimonial-lightbox-image" />
										<img src="~/images/play-20button-20icon.svg" loading="lazy" alt="" class="testimonial-play-button" />
										<script type="application/json" class="w-json">											{
											  "items": [],
											  "group": ""
											}</script>
									</a>
									<div data-w-id="60705340-3e9a-e205-d43c-b5b72f8a1b2f" class="testimonial-content">
										<div class="testimonial-star-wrapper">
											<img src="~/images/star.svg" loading="lazy" alt="" />
											<img src="~/images/star.svg" loading="lazy" alt="" />
											<img src="~/images/star.svg" loading="lazy" alt="" />
											<img src="~/images/star.svg" loading="lazy" alt="" />
											<img src="~/images/star.svg" loading="lazy" alt="" />
										</div>
										<p class="text-size-xxlarge">Working with Growthli Company has been transformative for our brand. Their strategic insights and creative prowess catapulted our market presence. Amplify not only met our expectations but exceeded.</p>
										<div class="testimonial-bottom-content">
											<div class="testimonial-user-details">
												<h6 class="heading-style-h6">Candice Wu</h6>
												<div class="text-size-regular">Product Manger, Sisyphus</div>
											</div>
											<div class="testimonial-line"></div>
											<img src="~/images/logo.svg" loading="lazy" alt="" />
										</div>
									</div>
								</div>
							</div>
							<div class="testimonial-slide w-slide">
								<div class="testimonial-slide-content">
									<a href="#" class="testimonial-lightbox-image-wrapper w-inline-block w-lightbox">
										<img src="~/images/rectangle-206.png" loading="lazy" sizes="(max-width: 479px) 93vw, (max-width: 640px) 92vw, (max-width: 991px) 589px, 34vw" srcset="images/rectangle-206-p-500.png 500w, images/rectangle-206.png 589w" alt="" />
										<img src="~/images/play-20button-20icon.svg" loading="lazy" alt="" class="testimonial-play-button" />
										<script type="application/json" class="w-json">											{
											  "items": [],
											  "group": ""
											}</script>
									</a>
									<div class="testimonial-content">
										<div class="testimonial-star-wrapper">
											<img src="~/images/star.svg" loading="lazy" alt="" />
											<img src="~/images/star.svg" loading="lazy" alt="" />
											<img src="~/images/star.svg" loading="lazy" alt="" />
											<img src="~/images/star.svg" loading="lazy" alt="" />
											<img src="~/images/star.svg" loading="lazy" alt="" />
										</div>
										<p class="text-size-xxlarge">Working with Amplify Company has been transformative for our brand. Their strategic insights and creative prowess catapulted our market presence. Amplify not only met our expectations but exceeded.</p>
										<div class="testimonial-bottom-content">
											<div class="testimonial-user-details">
												<h6 class="heading-style-h6">Candice Wu</h6>
												<div class="text-size-regular">Product Manger, Sisyphus</div>
											</div>
											<div class="testimonial-line"></div>
											<img src="~/images/logo.svg" loading="lazy" alt="" />
										</div>
									</div>
								</div>
							</div>
							<div class="testimonial-slide w-slide">
								<div class="testimonial-slide-content">
									<a href="#" class="testimonial-lightbox-image-wrapper w-inline-block w-lightbox">
										<img src="~/images/rectangle-206.png" loading="lazy" sizes="(max-width: 479px) 93vw, (max-width: 640px) 92vw, (max-width: 991px) 589px, 34vw" srcset="images/rectangle-206-p-500.png 500w, images/rectangle-206.png 589w" alt="" />
										<img src="~/images/play-20button-20icon.svg" loading="lazy" alt="" class="testimonial-play-button" />
										<script type="application/json" class="w-json">											{
											  "items": [],
											  "group": ""
											}</script>
									</a>
									<div class="testimonial-content">
										<div class="testimonial-star-wrapper">
											<img src="~/images/star.svg" loading="lazy" alt="" />
											<img src="~/images/star.svg" loading="lazy" alt="" />
											<img src="~/images/star.svg" loading="lazy" alt="" />
											<img src="~/images/star.svg" loading="lazy" alt="" />
											<img src="~/images/star.svg" loading="lazy" alt="" />
										</div>
										<p class="text-size-xxlarge">Working with Amplify Company has been transformative for our brand. Their strategic insights and creative prowess catapulted our market presence. Amplify not only met our expectations but exceeded.</p>
										<div class="testimonial-bottom-content">
											<div class="testimonial-user-details">
												<h6 class="heading-style-h6">Candice Wu</h6>
												<div class="text-size-regular">Product Manger, Sisyphus</div>
											</div>
											<div class="testimonial-line"></div>
											<img src="~/images/logo.svg" loading="lazy" alt="" />
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="testimonial-arrow w-slider-arrow-left">
							<img src="~/images/left-20arrow.svg" loading="lazy" alt="" />
						</div>
						<div class="testimonial-arrow right w-slider-arrow-right">
							<img src="~/images/right-20arrow2.svg" loading="lazy" alt="" />
						</div>
						<div class="testimonial-slide-nav w-slider-nav w-round w-num"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section-blog">
		<div class="padding-global">
			<div class="container-large">
				<div class="padding-section-large">
					<div class="blog-component">
						<div data-w-id="97fa35cd-85ce-0337-0a41-b58320ca094c" class="blog-top-content-wrapper">
							<div class="blog-left-content">
								<h3 class="heading-style-h3">Latest News &amp; Articles</h3>
								<p class="text-size-regular">Stay Informed: Explore the Freshest Insights and Updates in Our Latest News &amp; Articles Section</p>
							</div>
							<a href="/blog" class="button w-button">All News</a>
						</div>
						<div class="padding-bottom padding-medium"></div>
						<div class="blog-collection-list-wrapper w-dyn-list">
							<div data-w-id="97fa35cd-85ce-0337-0a41-b58320ca0956" role="list" class="blog-collection-list-item w-dyn-items">
								<div role="listitem" class="blog-collection-list w-dyn-item">
									<a href="/post/online-reputation-management-strategies-and-best-practices" class="blog-link w-inline-block">
										<div class="blog-image-wrapper">
											<img alt="" loading="lazy" src="~/images/blog-20image-2003.png" class="blog-image" />
										</div>
										<div class="blog-card-content">
											<div class="blog-card-category">
												<div>SEO Marketing</div>
											</div>
											<h5 class="heading-style-h5">Online Reputation Management Strategies and Best Practices</h5>
										</div>
										<div class="blog-card-bottom-content">
											<div class="blog-card-date-time">
												<img src="~/images/calendar.svg" loading="lazy" alt="" />
												<div class="text-size-regular">March 15, 2023</div>
											</div>
											<div class="blog-card-date-time">
												<img src="~/images/clock.svg" loading="lazy" alt="" />
												<div class="text-size-regular">9 min read</div>
											</div>
										</div>
									</a>
								</div>
								<div role="listitem" class="blog-collection-list w-dyn-item">
									<a href="/post/9-digital-marketing-habits-could-be-holding-back-your-business" class="blog-link w-inline-block">
										<div class="blog-image-wrapper">
											<img alt="" loading="lazy" src="~/images/blog-20image-2002.png" class="blog-image" />
										</div>
										<div class="blog-card-content">
											<div class="blog-card-category">
												<div>Branding</div>
											</div>
											<h5 class="heading-style-h5">9 Digital Marketing Habits Could Be Holding Back Your Business</h5>
										</div>
										<div class="blog-card-bottom-content">
											<div class="blog-card-date-time">
												<img src="~/images/calendar.svg" loading="lazy" alt="" />
												<div class="text-size-regular">March 15, 2023</div>
											</div>
											<div class="blog-card-date-time">
												<img src="~/images/clock.svg" loading="lazy" alt="" />
												<div class="text-size-regular">9 min read</div>
											</div>
										</div>
									</a>
								</div>
								<div role="listitem" class="blog-collection-list w-dyn-item">
									<a href="/post/what-is-social-audio-and-how-can-your-business-use-it" class="blog-link w-inline-block">
										<div class="blog-image-wrapper">
											<img alt="" loading="lazy" src="~/images/blog-20image-2001.png" class="blog-image" />
										</div>
										<div class="blog-card-content">
											<div class="blog-card-category">
												<div>Web design</div>
											</div>
											<h5 class="heading-style-h5">What Is Social Audio and How Can Your Business Use It?</h5>
										</div>
										<div class="blog-card-bottom-content">
											<div class="blog-card-date-time">
												<img src="~/images/calendar.svg" loading="lazy" alt="" />
												<div class="text-size-regular">March 15, 2023</div>
											</div>
											<div class="blog-card-date-time">
												<img src="~/images/clock.svg" loading="lazy" alt="" />
												<div class="text-size-regular">9 min read</div>
											</div>
										</div>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>