@{
	Layout = "_homeLayout";
}
<div class="main-wrapper">
	<div class="section-header">
		<div class="container-large">
			<div class="header-component">
				<div class="header-top-content-wrapper">
					<div class="header-left-content">
						<h1 class="heading-style-h1">Results-driven digital marketing agency</h1>
						<div class="padding-bottom padding-small"></div>
						<div class="max-width-xsmall">
							<p class="text-size-regular">Empowering Success: Unleashing Strategic Excellence with Our Results-Driven Digital Marketing Agency</p>
						</div>
						<div class="padding-bottom padding-small"></div>
						<div class="header-riview-content-wrapper">
							<img src="~/images/icon.svg" loading="lazy" alt="" />
							<div class="header-riview-content">
								<div class="text-size-medium text-capitalize">Atlantic 5/4.8 (156)</div>
								<div class="header-star-wrapper">
									<img src="~/images/star.svg" loading="lazy" alt="" />
									<img src="~/images/star.svg" loading="lazy" alt="" />
									<img src="~/images/star.svg" loading="lazy" alt="" />
									<img src="~/images/star.svg" loading="lazy" alt="" />
									<img src="~/images/star.svg" loading="lazy" alt="" />
								</div>
							</div>
						</div>
					</div>
					<a href="~~/tel:+447476797536" class="header-cta-wrapper w-inline-block">
						<img src="~/images/phone.svg" loading="lazy" alt="" />
						<div>+447-476-797-536</div>
					</a>
				</div>
				<div class="header-botttom-content">
					<div id="w-node-_29d54bdd-af2a-e1fa-9e29-7ca1e1291ec7-4f8ff5d0" class="header-card _1st">
						<div class="header-card-top-content">
							<img src="~/images/group-2017.svg" loading="lazy" alt="" />
							<img src="~/images/emoji.svg" loading="lazy" alt="" />
						</div>
						<div class="header-card-content">
							<h6 class="heading-style-h6">Before Join with Growthli</h6>
							<p class="text-size-regular">but this company does not use a perfect marketing strategy. That&#x27;s Why Denmark company doesn&#x27;t get good enough sales. Denmark company going to losses.</p>
						</div>
					</div>
					<div class="header-card _2nd">
						<div class="header-card-top-content">
							<img src="~/images/icon-2001.svg" loading="lazy" alt="" />
							<img src="~/images/face-meh.svg" loading="lazy" alt="" />
						</div>
						<div class="header-card-content">
							<h6 class="heading-style-h6 text-color-white">After Join With Growthli</h6>
							<p class="text-size-regular text-color-white">Creating a marketing strategy for a Denmerk company involves considering the unique characteristics of the consumer behavior.</p>
							<ul role="list" class="header-card-list is-white">
								<li class="header-card-list-item">
									<div class="text-size-small text-color-white">Target Audience</div>
								</li>
								<li class="header-card-list-item">
									<div class="text-size-small text-color-white">Product Positioning</div>
								</li>
								<li class="header-card-list-item">
									<div class="text-size-small text-color-white">Online Presence:</div>
								</li>
								<li class="header-card-list-item">
									<div class="text-size-small text-color-white">Sustainability</div>
								</li>
								<li class="header-card-list-item">
									<div class="text-size-small text-color-white">Customer Feedback</div>
								</li>
							</ul>
						</div>
					</div>
					<div class="header-card _3trd">
						<div class="header-card-top-content">
							<img src="~/images/icon-2002.svg" loading="lazy" alt="" />
							<img src="~/images/smile.svg" loading="lazy" alt="" />
						</div>
						<div class="header-card-content">
							<h6 class="heading-style-h6">Success story about Denmark!</h6>
							<p class="text-size-regular">Creating a marketing strategy for a Denmerk company involves considering the unique characteristics of the consumer behavior.</p>
							<ul role="list" class="header-card-list">
								<li class="header-card-list-item">
									<div class="text-size-small">+21.47% increase in site visitors</div>
								</li>
								<li class="header-card-list-item">
									<div class="text-size-small">+126.50% increase in organic search traffic</div>
								</li>
								<li class="header-card-list-item">
									<div class="text-size-small">+800% increase in online leads</div>
								</li>
								<li class="header-card-list-item">
									<div class="text-size-small">+640.92% increase in the conversion rate</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section-service">
		<div class="padding-global">
			<div class="container-large">
				<div class="padding-section-large">
					<div class="service-component">
						<div data-w-id="751f5558-8b7d-92d3-ba20-021832ef32ed" style="opacity:10" class="service-top-content">
							<h2 class="heading-style-h2">Our Digital Marketing Services</h2>
							<div class="text-size-medium">Unveiling Comprehensive Solutions Through Our Cutting-Edge Digital Marketing Services</div>
						</div>
						<div class="padding-bottom padding-medium"></div>
						<div data-w-id="3e7d0224-8c65-9d56-276a-8b9ff86a0967" style="opacity:10" class="service-collection-list-wrapper w-dyn-list">
							<div role="list" class="service-collection-list w-dyn-items">
								<div role="listitem" class="service-collection-list-item w-dyn-item">
									<a data-w-id="196d4d71-4ed6-db9a-1eb7-c7bc4832c53b" href="~//service/seo-search-engine-optimization" class="service-card w-inline-block">
										<div class="service-icon-wrapper">
											<img alt="" loading="lazy" scr="./images/icon-2003.svg" class="service-icon" />
										</div>
										<div data-w-id="318c853d-389e-eccf-750f-0e9f9309f079" class="service-card-content">
											<div class="margin-bottom margin-xsmall">
												<h5 class="heading-style-h5 text-color-white">SEO (Search Engine Optimization)</h5>
											</div>
											<p class="text-size-regular text-color-gray">We can help you achieve high rankings in the major search engines.</p>
											<div class="padding-bottom padding-small"></div>
											<div class="service-arrow-button">
												<img src="~/images/right-20arrow.svg" loading="lazy" alt="" />
											</div>
										</div>
									</a>
								</div>
								<div role="listitem" class="service-collection-list-item w-dyn-item">
									<a data-w-id="196d4d71-4ed6-db9a-1eb7-c7bc4832c53b" href="~//service/smm-social-media-marketing" class="service-card w-inline-block">
										<div class="service-icon-wrapper">
											<img alt="" loading="lazy" scr="./images/services-20icon-2002.svg" class="service-icon" />
										</div>
										<div data-w-id="318c853d-389e-eccf-750f-0e9f9309f079" class="service-card-content">
											<div class="margin-bottom margin-xsmall">
												<h5 class="heading-style-h5 text-color-white">SMM (Social Media Marketing)</h5>
											</div>
											<p class="text-size-regular text-color-gray">We can help you achieve high rankings in the major search engines.</p>
											<div class="padding-bottom padding-small"></div>
											<div class="service-arrow-button">
												<img src="~/images/right-20arrow.svg" loading="lazy" alt="" />
											</div>
										</div>
									</a>
								</div>
								<div role="listitem" class="service-collection-list-item w-dyn-item">
									<a data-w-id="196d4d71-4ed6-db9a-1eb7-c7bc4832c53b" href="~//service/website-design-development-" class="service-card w-inline-block">
										<div class="service-icon-wrapper">
											<img alt="" loading="lazy" scr="./images/icon-2005.svg" class="service-icon" />
										</div>
										<div data-w-id="318c853d-389e-eccf-750f-0e9f9309f079" class="service-card-content">
											<div class="margin-bottom margin-xsmall">
												<h5 class="heading-style-h5 text-color-white">Website Design &amp; Development </h5>
											</div>
											<p class="text-size-regular text-color-gray">We can help you achieve high rankings in the major search engines.</p>
											<div class="padding-bottom padding-small"></div>
											<div class="service-arrow-button">
												<img src="~/images/right-20arrow.svg" loading="lazy" alt="" />
											</div>
										</div>
									</a>
								</div>
								<div role="listitem" class="service-collection-list-item w-dyn-item">
									<a data-w-id="196d4d71-4ed6-db9a-1eb7-c7bc4832c53b" href="~//service/email-marketing-ppc-marketing" class="service-card w-inline-block">
										<div class="service-icon-wrapper">
											<img alt="" loading="lazy" scr="./images/icon-2006.svg" class="service-icon" />
										</div>
										<div data-w-id="318c853d-389e-eccf-750f-0e9f9309f079" class="service-card-content">
											<div class="margin-bottom margin-xsmall">
												<h5 class="heading-style-h5 text-color-white">Email Marketing &amp; PPC Marketing</h5>
											</div>
											<p class="text-size-regular text-color-gray">We can help you achieve high rankings in the major search engines.</p>
											<div class="padding-bottom padding-small"></div>
											<div class="service-arrow-button">
												<img src="~/images/right-20arrow.svg" loading="lazy" alt="" />
											</div>
										</div>
									</a>
								</div>
							</div>
						</div>
						<div class="padding-bottom padding-medium"></div>
						<a data-w-id="5b5c815b-c8b5-96bc-8eb9-5fad2d52bb34" style="opacity:10" href="/service" class="button w-button">View All Services</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section-story">
		<div class="padding-global">
			<div class="container-large">
				<div class="padding-section-medium padding-top-large">
					<div class="story-component">
						<div data-w-id="6602c687-5b51-3d4c-b609-2d03eeab4c03" style="opacity:10" class="story-content">
							<h2 class="heading-style-h2">Growthli Story</h2>
							<p class="text-size-medium">Crafting Narratives, Igniting Impact: The Art of Amplifying Your Story with Purposeful Creativity</p>
						</div>
						<div class="padding-bottom padding-medium"></div>
						<a href="~~/#" data-w-id="1775406c-0d9d-ce71-c350-cbcc233d932c" style="opacity:10" class="story-lightbox w-inline-block w-lightbox">
							<img src="~/images/story-20image.png" loading="lazy" sizes="(max-width: 479px) 93vw, (max-width: 991px) 94vw, (max-width: 1050px) 95vw, 998px" srcset="images/story-20image-p-500.png 500w, images/story-20image-p-800.png 800w, images/story-20image.png 998w" alt="" class="story-image" />
							<img src="~/images/play-20button-20icon.svg" loading="lazy" alt="" class="story-play-button" />
							<script type="application/json" class="w-json">
								{
								  "items": [
									{
									  "url": "https://www.youtube.com/watch?v=Y_Z88CMK_T4&ab_channel=SajibHossain",
									  "originalUrl": "https://www.youtube.com/watch?v=Y_Z88CMK_T4&ab_channel=SajibHossain",
									  "width": 940,
									  "height": 528,
									  "thumbnailUrl": "https://i.ytimg.com/vi/Y_Z88CMK_T4/hqdefault.jpg",
									  "html": "
																			<iframe class=\"embedly-embed\" src=\"//cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2FY_Z88CMK_T4%3Ffeature%3Doembed&display_name=YouTube&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DY_Z88CMK_T4&image=https%3A%2F%2Fi.ytimg.com%2Fvi%2FY_Z88CMK_T4%2Fhqdefault.jpg&key=96f1f04c5f4143bcb0f2e68c87d65feb&type=text%2Fhtml&schema=youtube\" width=\"940\" height=\"528\" scrolling=\"no\" title=\"YouTube embed\" frameborder=\"0\" allow=\"autoplay; fullscreen; encrypted-media; picture-in-picture;\" allowfullscreen=\"true\"></iframe>",
									  "type": "video"
									}
								  ],
								  "group": ""
								}
							</script>
						</a>
						<div class="padding-bottom padding-small"></div>
						<p data-w-id="63854f38-88d0-7287-82c5-a7a5a109444d" style="opacity:10" class="text-size-regular">Amplify Company, a dynamic force in the marketing landscape, was born from the vision of industry pioneers dedicated to redefining brand narratives. Established in 2010, Amplify swiftly evolved into a trailblazing marketing powerhouse, specializing in strategic amplification of brands across diverse platforms. With a client-centric approach, the company has cultivated lasting partnerships by seamlessly blending creativity with data-driven insights.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section-brand">
		<div class="padding-global">
			<div class="container-large">
				<div class="padding-section-medium padding-bottom-large">
					<div class="brand-component">
						<div data-w-id="a4d5e56e-0e6f-60aa-7739-ff2f94e22507" class="brand-content">
							<h2 class="heading-style-h2">
								We are helping to
								<span class="text-background">grow</span> more revenue for all those partners.
							</h2>
							<p class="text-size-medium">Cultivating Prosperity: Fostering Revenue Growth for Our Valued Partners</p>
						</div>
						<div class="padding-bottom padding-medium"></div>
						<div class="brand-logo-tracker-wrapper">
							<div class="brand-logo-tracker">
								<img src="~/images/brand-20logo-2001.svg" loading="lazy" alt="" class="brand-logo" />
								<img src="~/images/brand-20logo-2002.svg" loading="lazy" alt="" class="brand-logo" />
								<img src="~/images/brand-20logo-2003.svg" loading="lazy" alt="" class="brand-logo" />
								<img src="~/images/brand-20logo-2004.svg" loading="lazy" alt="" class="brand-logo" />
								<img src="~/images/brand-20logo-2005.svg" loading="lazy" alt="" class="brand-logo" />
								<img src="~/images/berlin-black.svg" loading="lazy" alt="" class="brand-logo" />
								<img src="~/images/brand-20logo-2007.svg" loading="lazy" alt="" class="brand-logo" />
							</div>
							<div class="brand-logo-tracker">
								<img src="~/images/brand-20logo-2001.svg" loading="lazy" alt="" class="brand-logo" />
								<img src="~/images/brand-20logo-2002.svg" loading="lazy" alt="" class="brand-logo" />
								<img src="~/images/brand-20logo-2003.svg" loading="lazy" alt="" class="brand-logo" />
								<img src="~/images/brand-20logo-2004.svg" loading="lazy" alt="" class="brand-logo" />
								<img src="~/images/brand-20logo-2005.svg" loading="lazy" alt="" class="brand-logo" />
								<img src="~/images/berlin-black.svg" loading="lazy" alt="" class="brand-logo" />
								<img src="~/images/brand-20logo-2007.svg" loading="lazy" alt="" class="brand-logo" />
							</div>
							<div class="brand-logo-tracker">
								<img src="~/images/brand-20logo-2001.svg" loading="lazy" alt="" class="brand-logo" />
								<img src="~/images/brand-20logo-2002.svg" loading="lazy" alt="" class="brand-logo" />
								<img src="~/images/brand-20logo-2003.svg" loading="lazy" alt="" class="brand-logo" />
								<img src="~/images/brand-20logo-2004.svg" loading="lazy" alt="" class="brand-logo" />
								<img src="~/images/brand-20logo-2005.svg" loading="lazy" alt="" class="brand-logo" />
								<img src="~/images/berlin-black.svg" loading="lazy" alt="" class="brand-logo" />
								<img src="~/images/brand-20logo-2007.svg" loading="lazy" alt="" class="brand-logo" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section-case-study">
		<div class="padding-global">
			<div class="container-large is-case-study">
				<div class="padding-section-large">
					<div data-w-id="692e029d-d29a-77fc-b1f5-2d466e916b75" style="opacity:10" class="case-study-content">
						<h2 class="heading-style-h2">Remarkable Results Our Customer</h2>
						<p class="text-size-medium">Empowering Success: Unveiling the Impact Amplify Company Has Woven Into Our Clients&#x27; Stories</p>
					</div>
					<div class="padding-bottom padding-medium"></div>
					<div data-delay="4000" data-animation="slide" class="case-study-slider w-slider" data-autoplay="false" data-easing="ease" style="opacity:10" data-hide-arrows="false" data-disable-swipe="false" data-w-id="18bcf2d8-26e5-1497-10a5-c99d12163a0f" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true">
						<div class="case-study-slider-mask w-slider-mask">
							<div class="case-study-slide w-slide">
								<div class="case-study-collection-list-wrapper w-dyn-list">
									<div role="list" class="case-study-collection-list w-dyn-items">
										<div role="listitem" class="case-study-collection-list-item w-dyn-item">
											<a href="~~//case/evident-triumphs-let-the-outcomes-tell-our-story" class="case-study-card w-inline-block">
												<img alt="" loading="lazy" scr="./images/customer-20image-2001.png" class="case-study-image" />
												<div class="case-study-card-content">
													<h6 class="heading-style-h6">Evident Triumphs: Let the Outcomes Tell Our Story</h6>
													<div class="case-study-card-bottom-content">
														<div>
															<h5 class="heading-style-h5">+560%</h5>
															<div class="text-size-regular">Organic Traffic</div>
														</div>
														<div class="case-study-card-line"></div>
														<div>
															<h5 class="heading-style-h5">+265%</h5>
															<div class="text-size-regular">Online Leads</div>
														</div>
													</div>
												</div>
											</a>
										</div>
									</div>
								</div>
							</div>
							<div class="case-study-slide w-slide">
								<div class="case-study-collection-list-wrapper w-dyn-list">
									<div role="list" class="case-study-collection-list w-dyn-items">
										<div role="listitem" class="case-study-collection-list-item w-dyn-item">
											<a href="~~//case/exceeding-expectations-growthli-commitment-to-going-above-and-beyond" class="case-study-card w-inline-block">
												<img alt="" loading="lazy" scr="./images/customer-20image-2002.png" />
												<div class="case-study-card-content">
													<h6 class="heading-style-h6">Exceeding Expectations: Growthli Commitment to Going Above and Beyond</h6>
													<div class="case-study-card-bottom-content">
														<div>
															<h5 class="heading-style-h5">+210%</h5>
															<div class="text-size-regular">Organic Traffic</div>
														</div>
														<div class="case-study-card-line"></div>
														<div>
															<h5 class="heading-style-h5">+350%</h5>
															<div class="text-size-regular">Online Leads</div>
														</div>
													</div>
												</div>
											</a>
										</div>
									</div>
								</div>
							</div>
							<div class="case-study-slide w-slide">
								<div class="case-study-collection-list-wrapper w-dyn-list">
									<div role="list" class="case-study-collection-list w-dyn-items">
										<div role="listitem" class="case-study-collection-list-item w-dyn-item">
											<a href="~~//case/86-organic-revenue-growth-for-a-renowned-sporting-goods-company" class="case-study-card w-inline-block">
												<img alt="" loading="lazy" scr="./images/customer-20image-2003.png" />
												<div class="case-study-card-content">
													<h6 class="heading-style-h6">86% Organic Revenue Growth for a Renowned Sporting Goods Company</h6>
													<div class="case-study-card-bottom-content">
														<div>
															<h5 class="heading-style-h5">+810%</h5>
															<div class="text-size-regular">Organic Traffic</div>
														</div>
														<div class="case-study-card-line"></div>
														<div>
															<h5 class="heading-style-h5">+465%</h5>
															<div class="text-size-regular">Online Leads</div>
														</div>
													</div>
												</div>
											</a>
										</div>
									</div>
								</div>
							</div>
							<div class="case-study-slide w-slide">
								<div class="case-study-collection-list-wrapper w-dyn-list">
									<div role="list" class="case-study-collection-list w-dyn-items">
										<div role="listitem" class="case-study-collection-list-item w-dyn-item">
											<a href="~~//case/growthli-exceptional-dedication-rising-above-and-beyond-the-ordinary" class="case-study-card w-inline-block">
												<img alt="" loading="lazy" scr="./images/customer-20image-2004.png" />
												<div class="case-study-card-content">
													<h6 class="heading-style-h6">Growthli Exceptional Dedication: Rising Above and Beyond the Ordinary</h6>
													<div class="case-study-card-bottom-content">
														<div>
															<h5 class="heading-style-h5">+680%</h5>
															<div class="text-size-regular">Organic Traffic</div>
														</div>
														<div class="case-study-card-line"></div>
														<div>
															<h5 class="heading-style-h5">+425%</h5>
															<div class="text-size-regular">Online Leads</div>
														</div>
													</div>
												</div>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="case-study-arrow w-slider-arrow-left">
							<img src="~/images/left-20arrow.svg" loading="lazy" alt="" />
						</div>
						<div class="case-study-arrow rgiht w-slider-arrow-right">
							<img src="~/images/right-20arrow2.svg" loading="lazy" alt="" />
						</div>
						<div class="case-study-slider-nav w-slider-nav w-round w-num"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section-work-process">
		<div class="padding-global">
			<div class="container-large">
				<div class="padding-section-medium padding-top-large">
					<div class="work-process-component">
						<div data-w-id="e149a0aa-7e8b-cef4-619c-a3a824cfff14" style="opacity:10" class="work-process-content">
							<h2 class="heading-style-h2">Growthli Work Process</h2>
							<div class="text-size-medium">Efficiency Unleashed: Navigating the Dynamics of Amplify&#x27;s Work Process for Optimal Results.</div>
						</div>
						<div class="padding-bottom padding-medium"></div>
						<div class="w-layout-grid work-process-grid">
							<div id="w-node-dd0425f7-d057-0c45-9f23-d5e3ae26d018-4f8ff5d0" data-w-id="dd0425f7-d057-0c45-9f23-d5e3ae26d018" style="opacity:10" class="work-process-card">
								<div class="work-process-top-card-content">
									<img src="~/images/line.svg" loading="lazy" alt="" />
									<h2 class="heading-style-h2 is-number">01</h2>
								</div>
								<div class="work-process-bottom-card-content">
									<div class="work-process-heading-wrapper">
										<img src="~/images/noun-20research.svg" loading="lazy" alt="" />
										<h5 class="heading-style-h5">Research</h5>
									</div>
									<p class="text-size-regular">Research is the cornerstone of discovery, fostering breakthroughs, and laying the foundation for informed decision-making and meaningful change.</p>
								</div>
							</div>
							<div id="w-node-_25a4daf7-04f4-c13c-1c14-930dc02a0084-4f8ff5d0" data-w-id="25a4daf7-04f4-c13c-1c14-930dc02a0084" style="opacity:10" class="work-process-card">
								<div class="work-process-top-card-content">
									<img src="~/images/line.svg" loading="lazy" alt="" />
									<h2 class="heading-style-h2 is-number">02</h2>
								</div>
								<div class="work-process-bottom-card-content">
									<div class="work-process-heading-wrapper">
										<img src="~/images/data-20driven-20action.svg" loading="lazy" alt="" />
										<h5 class="heading-style-h5">Data driven action</h5>
									</div>
									<p class="text-size-regular">Data-driven action epitomizes the contemporary approach to decision-making, where insights derived from thorough analysis steer strategic initiatives.</p>
								</div>
							</div>
							<div id="w-node-_73e33659-375e-7db8-b932-a78e3e14ee34-4f8ff5d0" data-w-id="73e33659-375e-7db8-b932-a78e3e14ee34" style="opacity:10" class="work-process-card">
								<div class="work-process-top-card-content">
									<img src="~/images/line.svg" loading="lazy" alt="" />
									<h2 class="heading-style-h2 is-number">03</h2>
								</div>
								<div class="work-process-bottom-card-content">
									<div class="work-process-heading-wrapper">
										<img src="~/images/result.svg" loading="lazy" alt="" />
										<h5 class="heading-style-h5">Research</h5>
									</div>
									<p class="text-size-regular">Results signify the tangible outcomes and achievements arising from dedicated efforts and strategic endeavors. In any context, be it business, education, or personal pursuits.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section-cta">
		<div class="padding-global">
			<div class="container-large">
				<div class="padding-section-medium padding-bottom-large">
					<div data-w-id="ccf73ec6-2c6c-292c-968e-70a49b2f0774" style="opacity:10" class="cta-component">
						<div class="cta-content">
							<h2 class="heading-style-h2">Are you ready to take your company revenue next level?</h2>
							<a href="/About/ContactUs" class="button secondary w-button">Contact Us</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section-testimonial">
		<div class="padding-global">
			<div class="container-large">
				<div class="padding-section-large">
					<div data-delay="4000" data-animation="slide" class="testimonial-slider w-slider" data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true">
						<div class="testimonial-slider-mask w-slider-mask">
							<div class="testimonial-slide w-slide">
								<div class="testimonial-slide-content">
									<a href="~~/#" data-w-id="60705340-3e9a-e205-d43c-b5b72f8a1b2c" class="testimonial-lightbox-image-wrapper w-inline-block w-lightbox">
										<img src="~/images/rectangle-206.png" loading="lazy" sizes="(max-width: 479px) 93vw, (max-width: 991px) 94vw, 34vw" srcset="images/rectangle-206-p-500.png 500w, images/rectangle-206.png 589w" alt="" class="testimonial-lightbox-image" />
										<img src="~/images/play-20button-20icon.svg" loading="lazy" alt="" class="testimonial-play-button" />
										<script type="application/json" class="w-json">
											{
											  "items": [],
											  "group": ""
											}</script>
									</a>
									<div data-w-id="60705340-3e9a-e205-d43c-b5b72f8a1b2f" class="testimonial-content">
										<div class="testimonial-star-wrapper">
											<img src="~/images/star.svg" loading="lazy" alt="" />
											<img src="~/images/star.svg" loading="lazy" alt="" />
											<img src="~/images/star.svg" loading="lazy" alt="" />
											<img src="~/images/star.svg" loading="lazy" alt="" />
											<img src="~/images/star.svg" loading="lazy" alt="" />
										</div>
										<p class="text-size-xxlarge">Working with Growthli Company has been transformative for our brand. Their strategic insights and creative prowess catapulted our market presence. Amplify not only met our expectations but exceeded.</p>
										<div class="testimonial-bottom-content">
											<div class="testimonial-user-details">
												<h6 class="heading-style-h6">Candice Wu</h6>
												<div class="text-size-regular">Product Manger, Sisyphus</div>
											</div>
											<div class="testimonial-line"></div>
											<img src="~/images/logo.svg" loading="lazy" alt="" />
										</div>
									</div>
								</div>
							</div>
							<div class="testimonial-slide w-slide">
								<div class="testimonial-slide-content">
									<a href="~~/#" class="testimonial-lightbox-image-wrapper w-inline-block w-lightbox">
										<img src="~/images/rectangle-206.png" loading="lazy" sizes="(max-width: 479px) 93vw, (max-width: 640px) 92vw, (max-width: 991px) 589px, 34vw" srcset="images/rectangle-206-p-500.png 500w, images/rectangle-206.png 589w" alt="" />
										<img src="~/images/play-20button-20icon.svg" loading="lazy" alt="" class="testimonial-play-button" />
										<script type="application/json" class="w-json">
											{
											  "items": [],
											  "group": ""
											}</script>
									</a>
									<div class="testimonial-content">
										<div class="testimonial-star-wrapper">
											<img src="~/images/star.svg" loading="lazy" alt="" />
											<img src="~/images/star.svg" loading="lazy" alt="" />
											<img src="~/images/star.svg" loading="lazy" alt="" />
											<img src="~/images/star.svg" loading="lazy" alt="" />
											<img src="~/images/star.svg" loading="lazy" alt="" />
										</div>
										<p class="text-size-xxlarge">Working with Amplify Company has been transformative for our brand. Their strategic insights and creative prowess catapulted our market presence. Amplify not only met our expectations but exceeded.</p>
										<div class="testimonial-bottom-content">
											<div class="testimonial-user-details">
												<h6 class="heading-style-h6">Candice Wu</h6>
												<div class="text-size-regular">Product Manger, Sisyphus</div>
											</div>
											<div class="testimonial-line"></div>
											<img src="~/images/logo.svg" loading="lazy" alt="" />
										</div>
									</div>
								</div>
							</div>
							<div class="testimonial-slide w-slide">
								<div class="testimonial-slide-content">
									<a href="~~/#" class="testimonial-lightbox-image-wrapper w-inline-block w-lightbox">
										<img src="~/images/rectangle-206.png" loading="lazy" sizes="(max-width: 479px) 93vw, (max-width: 640px) 92vw, (max-width: 991px) 589px, 34vw" srcset="images/rectangle-206-p-500.png 500w, images/rectangle-206.png 589w" alt="" />
										<img src="~/images/play-20button-20icon.svg" loading="lazy" alt="" class="testimonial-play-button" />
										<script type="application/json" class="w-json">
											{
											  "items": [],
											  "group": ""
											}</script>
									</a>
									<div class="testimonial-content">
										<div class="testimonial-star-wrapper">
											<img src="~/images/star.svg" loading="lazy" alt="" />
											<img src="~/images/star.svg" loading="lazy" alt="" />
											<img src="~/images/star.svg" loading="lazy" alt="" />
											<img src="~/images/star.svg" loading="lazy" alt="" />
											<img src="~/images/star.svg" loading="lazy" alt="" />
										</div>
										<p class="text-size-xxlarge">Working with Amplify Company has been transformative for our brand. Their strategic insights and creative prowess catapulted our market presence. Amplify not only met our expectations but exceeded.</p>
										<div class="testimonial-bottom-content">
											<div class="testimonial-user-details">
												<h6 class="heading-style-h6">Candice Wu</h6>
												<div class="text-size-regular">Product Manger, Sisyphus</div>
											</div>
											<div class="testimonial-line"></div>
											<img src="~/images/logo.svg" loading="lazy" alt="" />
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="testimonial-arrow w-slider-arrow-left">
							<img src="~/images/left-20arrow.svg" loading="lazy" alt="" />
						</div>
						<div class="testimonial-arrow right w-slider-arrow-right">
							<img src="~/images/right-20arrow2.svg" loading="lazy" alt="" />
						</div>
						<div class="testimonial-slide-nav w-slider-nav w-round w-num"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section-blog">
		<div class="padding-global">
			<div class="container-large">
				<div class="padding-section-large">
					<div class="blog-component">
						<div data-w-id="97fa35cd-85ce-0337-0a41-b58320ca094c" class="blog-top-content-wrapper">
							<div class="blog-left-content">
								<h3 class="heading-style-h3">Latest News &amp; Articles</h3>
								<p class="text-size-regular">Stay Informed: Explore the Freshest Insights and Updates in Our Latest News &amp; Articles Section</p>
							</div>
							<a href="/Blog" class="button w-button">All News</a>
						</div>
						<div class="padding-bottom padding-medium"></div>
						<div class="blog-collection-list-wrapper w-dyn-list">
							<div data-w-id="97fa35cd-85ce-0337-0a41-b58320ca0956" role="list" class="blog-collection-list-item w-dyn-items">
								<div role="listitem" class="blog-collection-list w-dyn-item">
									<a href="~~//post/online-reputation-management-strategies-and-best-practices" class="blog-link w-inline-block">
										<div class="blog-image-wrapper">
											<img alt="" loading="lazy" scr="./images/blog-20image-2003.png" class="blog-image" />
										</div>
										<div class="blog-card-content">
											<div class="blog-card-category">
												<div>SEO Marketing</div>
											</div>
											<h5 class="heading-style-h5">Online Reputation Management Strategies and Best Practices</h5>
										</div>
										<div class="blog-card-bottom-content">
											<div class="blog-card-date-time">
												<img src="~/images/calendar.svg" loading="lazy" alt="" />
												<div class="text-size-regular">March 15, 2023</div>
											</div>
											<div class="blog-card-date-time">
												<img src="~/images/clock.svg" loading="lazy" alt="" />
												<div class="text-size-regular">9 min read</div>
											</div>
										</div>
									</a>
								</div>
								<div role="listitem" class="blog-collection-list w-dyn-item">
									<a href="~~//post/9-digital-marketing-habits-could-be-holding-back-your-business" class="blog-link w-inline-block">
										<div class="blog-image-wrapper">
											<img alt="" loading="lazy" scr="./images/blog-20image-2002.png" class="blog-image" />
										</div>
										<div class="blog-card-content">
											<div class="blog-card-category">
												<div>Branding</div>
											</div>
											<h5 class="heading-style-h5">9 Digital Marketing Habits Could Be Holding Back Your Business</h5>
										</div>
										<div class="blog-card-bottom-content">
											<div class="blog-card-date-time">
												<img src="~/images/calendar.svg" loading="lazy" alt="" />
												<div class="text-size-regular">March 15, 2023</div>
											</div>
											<div class="blog-card-date-time">
												<img src="~/images/clock.svg" loading="lazy" alt="" />
												<div class="text-size-regular">9 min read</div>
											</div>
										</div>
									</a>
								</div>
								<div role="listitem" class="blog-collection-list w-dyn-item">
									<a href="~~//post/what-is-social-audio-and-how-can-your-business-use-it" class="blog-link w-inline-block">
										<div class="blog-image-wrapper">
											<img alt="" loading="lazy" scr="./images/blog-20image-2001.png" class="blog-image" />
										</div>
										<div class="blog-card-content">
											<div class="blog-card-category">
												<div>Web design</div>
											</div>
											<h5 class="heading-style-h5">What Is Social Audio and How Can Your Business Use It?</h5>
										</div>
										<div class="blog-card-bottom-content">
											<div class="blog-card-date-time">
												<img src="~/images/calendar.svg" loading="lazy" alt="" />
												<div class="text-size-regular">March 15, 2023</div>
											</div>
											<div class="blog-card-date-time">
												<img src="~/images/clock.svg" loading="lazy" alt="" />
												<div class="text-size-regular">9 min read</div>
											</div>
										</div>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
