@model WebApp.Models.Message

<div class="main-wrapper">
	<div class="section-about">
		<div class="padding-global">
			<div class="container-large">
				<div class="padding-section-medium padding-top-large">
					<div class="about-component">
						<div data-w-id="93c645ab-5eb7-09c6-41a8-998e84269dab" style="opacity:10" class="about-content-wrapper">
							<div class="about-heading-wrapper">
								<img src="~images/about-20hero-20images.png" loading="lazy" sizes="(max-width: 991px) 100vw, 850px" srcset="images/about-20hero-20images-p-500.png 500w, images/about-20hero-20images-p-800.png 800w, images/about-20hero-20images.png 850w" alt="" class="about-heading-image" />
								<h2 class="heading-style-h2">Elevate Your Story: Unveiling the Essence of Growthli - Pioneering Digital Marketing Excellence</h2>
							</div>
							<div class="max-width-medium">
								<p class="text-size-medium">Embark on a journey with Amplify– where innovation meets excellence. Discover how we redefine Digital Marketing through unwavering commitment, cutting-edge solutions, and unparalleled service. Join us in crafting remarkable experiences and forging lasting relationships in a landscape defined by our commitment to excellence.</p>
							</div>
							<a href="~/contact" class="button w-button">Get in Touch</a>
						</div>
						<div class="padding-bottom padding-xxlarge"></div>
						<div class="about-image-wrapper">
							<img src="~images/about-20image.png" loading="lazy" style="opacity:10" data-w-id="032be09c-4b1b-119c-09a0-94c8ac8fb726" alt="" class="about-image" />
							<img src="~images/about-20image-2002.png" loading="lazy" style="opacity:10" data-w-id="3240492a-2786-3ab4-30f3-919b3b0e0c2e" alt="" class="about-image" />
							<img src="~images/about-20image-2003.png" loading="lazy" style="opacity:10" data-w-id="bda82857-2ad3-4b02-3b3b-2cf7251d9c1f" alt="" class="about-image" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section-mission">
		<div class="padding-global">
			<div class="container-large">
				<div class="padding-section-medium padding-bottom-large">
					<div class="mission-component">
						<div data-w-id="f7630f72-b11a-1117-e6ba-ed0f3c18c830" style="opacity:10" class="mission-content-wrapper">
							<div class="heading-wrapper">
								<h2 class="heading-style-h2">Growthli Mission &amp; Vision</h2>
							</div>
							<div class="mission-content">
								<p class="text-size-xxlarge text-color-gray">Amplify&#x27;s Mission &amp; Vision: At Amplify, our mission is to redefine the landscape of marketing through strategic innovation and unparalleled creativity. We are dedicated to empowering businesses by amplifying their unique stories, ensuring they resonate in a dynamic and competitive marketplace</p>
								<p class="text-size-xxlarge text-color-gray">Amplify Vision: Amplify envisions a dynamic landscape where brands transcend boundaries and make resonant connections. Our vision is to redefine the marketing paradigm, amplifying the voice of every brand we touch.</p>
							</div>
						</div>
						<div data-w-id="f634b439-77dd-141b-e604-2b3145189280" style="opacity:10" class="mission-image">
							<img src="~images/graphic_elements.png" loading="lazy" alt="" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section-why-choose">
		<div class="padding-global">
			<div class="container-large">
				<div class="padding-section-large">
					<div class="why-whoose-component">
						<div data-w-id="ae077c18-cc9c-a95f-75d9-3a030fe47c78" style="opacity:10" class="why-choose-content">
							<h2 class="heading-style-h2">Why Choose Growthli</h2>
							<div class="text-size-medium">Amplify Advantage: Elevate Your Experience with Strategic Innovation and Unmatched Expertise</div>
						</div>
						<div class="padding-bottom padding-medium"></div>
						<div data-current="Tab 1" data-easing="ease" data-duration-in="300" data-duration-out="100" class="why-choose-tab w-tabs">
							<div data-w-id="8ded4e74-2d7e-a8be-111f-bf358414c069" style="opacity:10" class="why-choose-tab-menu w-tab-menu">
								<a data-w-tab="Tab 1" class="why-choose-tab-link w-inline-block w-tab-link w--current">
									<div>Strategic Innovation</div>
								</a>
								<a data-w-tab="Tab 2" class="why-choose-tab-link w-inline-block w-tab-link">
									<div>Tailored Approach:</div>
								</a>
								<a data-w-tab="Tab 3" class="why-choose-tab-link w-inline-block w-tab-link">
									<div>Data-Driven Excellence</div>
								</a>
								<a data-w-tab="Tab 4" class="why-choose-tab-link w-inline-block w-tab-link">
									<div>Creative Excellence</div>
								</a>
								<a data-w-tab="Tab 5" class="why-choose-tab-link w-inline-block w-tab-link">
									<div>Collaborative Partnership:</div>
								</a>
							</div>
							<div data-w-id="8ded4e74-2d7e-a8be-111f-bf358414c073" style="opacity:10" class="w-tab-content">
								<div data-w-tab="Tab 1" class="w-tab-pane w--tab-active">
									<div class="why-choose-right-content">
										<img sizes="(max-width: 479px) 93vw, (max-width: 991px) 94vw, 44vw" srcset="images/image-2001-p-500.png 500w, images/image-2001.png 587w" alt="" src="images/image-2001.png" loading="lazy" class="why-choose-image" />
										<p class="text-size-regular">Choose us for cutting-edge solutions that leverage the latest trends and technologies, ensuring your brand stays ahead in a dynamic market.</p>
									</div>
								</div>
								<div data-w-tab="Tab 2" class="w-tab-pane">
									<div class="why-choose-right-content">
										<img sizes="(max-width: 479px) 93vw, (max-width: 991px) 94vw, 44vw" srcset="images/feature-20image-2001-p-500.png 500w, images/feature-20image-2001.png 587w" alt="" src="images/feature-20image-2001.png" loading="lazy" class="why-choose-image" />
										<p class="text-size-regular">Experience personalized strategies crafted to fit your unique goals and challenges, reflecting a deep understanding of your brand&#x27;s identity.</p>
									</div>
								</div>
								<div data-w-tab="Tab 3" class="w-tab-pane">
									<div class="why-choose-right-content">
										<img sizes="(max-width: 479px) 93vw, (max-width: 991px) 94vw, 44vw" srcset="images/feature-20image-2002-p-500.png 500w, images/feature-20image-2002.png 587w" alt="" src="images/feature-20image-2002.png" loading="lazy" class="why-choose-image" />
										<p class="text-size-regular">Trust our expertise in harnessing the power of data to drive informed decision-making, optimize campaigns, and deliver measurable results.</p>
									</div>
								</div>
								<div data-w-tab="Tab 4" class="w-tab-pane">
									<div class="why-choose-right-content">
										<img sizes="(max-width: 479px) 93vw, (max-width: 991px) 94vw, 44vw" srcset="images/feature-20image-2003-p-500.png 500w, images/feature-20image-2003.png 587w" alt="" src="images/feature-20image-2003.png" loading="lazy" class="why-choose-image" />
										<p class="text-size-regular">Amplify stands out for its innovative and captivating creative solutions, ensuring your brand leaves a lasting impression on your target audience</p>
									</div>
								</div>
								<div data-w-tab="Tab 5" class="w-tab-pane">
									<div class="why-choose-right-content">
										<img sizes="(max-width: 479px) 93vw, (max-width: 991px) 94vw, 44vw" srcset="images/feature-20image-2004-p-500.png 500w, images/feature-20image-2004.png 587w" alt="" src="images/feature-20image-2004.png" loading="lazy" class="why-choose-image" />
										<p class="text-size-regular">Partner with us for a collaborative journey where your vision meets our expertise, creating a symbiotic relationship focused on mutual growth and success.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section-award">
		<div class="padding-global">
			<div class="container-large">
				<div class="padding-section-large">
					<div class="award-component">
						<div data-w-id="daa4042c-0df7-5090-5012-6891781eabaa" style="opacity:10" class="award-content">
							<h2 class="heading-style-h2">Growthli Achieved Awards</h2>
							<p class="text-size-regular">Pellentesque nulla natoque enim velit laoreet pellentesque. Sit mauris felis pharetra dignissim eu.</p>
						</div>
						<div class="padding-bottom padding-medium"></div>
						<div data-w-id="e54123be-84f3-ddc0-9b72-0bc35c4ac15f" class="award-logo-wrapper">
							<img src="~images/asset-202-404x-201.svg" loading="lazy" alt="" />
							<img src="~images/asset-208-404x.svg" loading="lazy" alt="" />
							<img src="~images/asset-205-404x.svg" loading="lazy" alt="" />
							<img src="~images/asset-204-404x.svg" loading="lazy" alt="" />
							<img src="~images/asset-207-404x.svg" loading="lazy" alt="" />
							<img src="~images/asset-209-404x.svg" loading="lazy" alt="" />
							<img src="~images/asset-205-404x.svg" loading="lazy" alt="" />
							<img src="~images/asset-206-404x.svg" loading="lazy" alt="" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section-testimonial">
		<div class="padding-global">
			<div class="container-large">
				<div class="padding-section-large">
					<div data-delay="4000" data-animation="slide" class="testimonial-slider w-slider" data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true">
						<div class="testimonial-slider-mask w-slider-mask">
							<div class="testimonial-slide w-slide">
								<div class="testimonial-slide-content">
									<a href="~#" data-w-id="60705340-3e9a-e205-d43c-b5b72f8a1b2c" class="testimonial-lightbox-image-wrapper w-inline-block w-lightbox">
										<img src="~images/rectangle-206.png" loading="lazy" sizes="(max-width: 479px) 93vw, (max-width: 991px) 94vw, 34vw" srcset="images/rectangle-206-p-500.png 500w, images/rectangle-206.png 589w" alt="" class="testimonial-lightbox-image" />
										<img src="~images/play-20button-20icon.svg" loading="lazy" alt="" class="testimonial-play-button" />
										<script type="application/json" class="w-json">
											{
											  "items": [],
											  "group": ""
											}</script>
									</a>
									<div data-w-id="60705340-3e9a-e205-d43c-b5b72f8a1b2f" class="testimonial-content">
										<div class="testimonial-star-wrapper">
											<img src="~images/star.svg" loading="lazy" alt="" />
											<img src="~images/star.svg" loading="lazy" alt="" />
											<img src="~images/star.svg" loading="lazy" alt="" />
											<img src="~images/star.svg" loading="lazy" alt="" />
											<img src="~images/star.svg" loading="lazy" alt="" />
										</div>
										<p class="text-size-xxlarge">Working with Growthli Company has been transformative for our brand. Their strategic insights and creative prowess catapulted our market presence. Amplify not only met our expectations but exceeded.</p>
										<div class="testimonial-bottom-content">
											<div class="testimonial-user-details">
												<h6 class="heading-style-h6">Candice Wu</h6>
												<div class="text-size-regular">Product Manger, Sisyphus</div>
											</div>
											<div class="testimonial-line"></div>
											<img src="~images/logo.svg" loading="lazy" alt="" />
										</div>
									</div>
								</div>
							</div>
							<div class="testimonial-slide w-slide">
								<div class="testimonial-slide-content">
									<a href="~#" class="testimonial-lightbox-image-wrapper w-inline-block w-lightbox">
										<img src="~images/rectangle-206.png" loading="lazy" sizes="(max-width: 479px) 93vw, (max-width: 640px) 92vw, (max-width: 991px) 589px, 34vw" srcset="images/rectangle-206-p-500.png 500w, images/rectangle-206.png 589w" alt="" />
										<img src="~images/play-20button-20icon.svg" loading="lazy" alt="" class="testimonial-play-button" />
										<script type="application/json" class="w-json">
											{
											  "items": [],
											  "group": ""
											}</script>
									</a>
									<div class="testimonial-content">
										<div class="testimonial-star-wrapper">
											<img src="~images/star.svg" loading="lazy" alt="" />
											<img src="~images/star.svg" loading="lazy" alt="" />
											<img src="~images/star.svg" loading="lazy" alt="" />
											<img src="~images/star.svg" loading="lazy" alt="" />
											<img src="~images/star.svg" loading="lazy" alt="" />
										</div>
										<p class="text-size-xxlarge">Working with Amplify Company has been transformative for our brand. Their strategic insights and creative prowess catapulted our market presence. Amplify not only met our expectations but exceeded.</p>
										<div class="testimonial-bottom-content">
											<div class="testimonial-user-details">
												<h6 class="heading-style-h6">Candice Wu</h6>
												<div class="text-size-regular">Product Manger, Sisyphus</div>
											</div>
											<div class="testimonial-line"></div>
											<img src="~images/logo.svg" loading="lazy" alt="" />
										</div>
									</div>
								</div>
							</div>
							<div class="testimonial-slide w-slide">
								<div class="testimonial-slide-content">
									<a href="~#" class="testimonial-lightbox-image-wrapper w-inline-block w-lightbox">
										<img src="~images/rectangle-206.png" loading="lazy" sizes="(max-width: 479px) 93vw, (max-width: 640px) 92vw, (max-width: 991px) 589px, 34vw" srcset="images/rectangle-206-p-500.png 500w, images/rectangle-206.png 589w" alt="" />
										<img src="~images/play-20button-20icon.svg" loading="lazy" alt="" class="testimonial-play-button" />
										<script type="application/json" class="w-json">
											{
											  "items": [],
											  "group": ""
											}</script>
									</a>
									<div class="testimonial-content">
										<div class="testimonial-star-wrapper">
											<img src="~images/star.svg" loading="lazy" alt="" />
											<img src="~images/star.svg" loading="lazy" alt="" />
											<img src="~images/star.svg" loading="lazy" alt="" />
											<img src="~images/star.svg" loading="lazy" alt="" />
											<img src="~images/star.svg" loading="lazy" alt="" />
										</div>
										<p class="text-size-xxlarge">Working with Amplify Company has been transformative for our brand. Their strategic insights and creative prowess catapulted our market presence. Amplify not only met our expectations but exceeded.</p>
										<div class="testimonial-bottom-content">
											<div class="testimonial-user-details">
												<h6 class="heading-style-h6">Candice Wu</h6>
												<div class="text-size-regular">Product Manger, Sisyphus</div>
											</div>
											<div class="testimonial-line"></div>
											<img src="~images/logo.svg" loading="lazy" alt="" />
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="testimonial-arrow w-slider-arrow-left">
							<img src="~images/left-20arrow.svg" loading="lazy" alt="" />
						</div>
						<div class="testimonial-arrow right w-slider-arrow-right">
							<img src="~images/right-20arrow2.svg" loading="lazy" alt="" />
						</div>
						<div class="testimonial-slide-nav w-slider-nav w-round w-num"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section-contact">
		<div class="padding-global">
			<div class="container-large">
				<div class="padding-section-large">
					<div class="w-layout-grid conact-grid">
						<div id="w-node-a28b55ed-9d78-13be-8411-161558271057-58271052" data-w-id="a28b55ed-9d78-13be-8411-161558271057" class="contact-left-content">
							<div id="w-node-a28b55ed-9d78-13be-8411-161558271058-58271052" class="heading-wrapper">
								<h2 class="heading-style-h2">Have a Project Idea?</h2>
							</div>
							<img src="~images/objects.png" loading="lazy" alt="" class="contact-image" />
						</div>
						<div id="w-node-a28b55ed-9d78-13be-8411-16155827105c-58271052" data-w-id="a28b55ed-9d78-13be-8411-16155827105c" class="contact-from-block w-form">
							<form asp-controller="About" asp-action="CreateMessage" id="email-form" name="email-form" data-name="Email Form" method="get" class="contact-from" data-wf-page-id="65bf337066010ad14f172d72" data-wf-element-id="a28b55ed-9d78-13be-8411-16155827105d">
								<div class="w-layout-grid contact-input-grid">
									<div class="input-wrapper">
										<label for="Name-3" class="text-size-medium is-contact">Full Name</label>
										<input asp-for="Fullname" class="input w-input" maxlength="256" name="Name" data-name="Fullname" placeholder="Ex. Jone Alex" type="text" id="Name-3" required="" />
									</div>
									<div class="input-wrapper">
										<label for="Email-4" class="text-size-medium is-contact">Email address</label>
										<input asp-for="Email" class="input w-input" maxlength="256" name="Email" class="input w-input" maxlength="256" name="Email" data-name="Email" placeholder="Ex. jone@example.com" type="email" id="Email-4" required="" />
									</div>
									<div class="input-wrapper">
										<label for="Company-Name-3" class="text-size-medium is-contact">Company</label>
										<input asp-for="Company" class="input w-input" maxlength="256" name="Company" class="input w-input" maxlength="256" name="Company-Name" data-name="Company Name" placeholder="Ex. webocean" type="text" id="Company-Name-3" required="" />
									</div>
									<div class="input-wrapper">
										<label for="Budget-3" class="text-size-medium is-contact">Budget</label>
										<input asp-for="Budget" class="input w-input" maxlength="256" name="Budget" data-name="Budget" placeholder="$45664-465850" type="text" id="Budget-3" required="" />
									</div>
									<div id="w-node-a28b55ed-9d78-13be-8411-16155827106f-58271052" class="input-wrapper">
										<label for="Message" class="text-size-medium is-contact">Message</label>
										<textarea asp-for="MessageText" placeholder="What can we help you with?" maxlength="5000" id="MessageText" name="MessageText" data-name="Message" class="input is-massage w-input"></textarea>
									</div>
								</div>
								<div class="contact-service-wrapper">
									<div class="text-size-regular text-wight-bold">Services</div>
									<div class="contact-service-list">
										<div>
											<label class="w-checkbox checkbox-field">
												<div class="w-checkbox-input w-checkbox-input--inputType-custom checkbox"></div>
												<input type="checkbox" id="checkbox-4" name="checkbox-4" data-name="Checkbox 4" style="opacity:10;position:absolute;z-index:-1" />
												<span class="text-size-regular w-form-label" for="checkbox-4">Website Design</span>
											</label>
											<div class="padding-bottom padding-xsmall"></div>
											<label class="w-checkbox checkbox-field">
												<div class="w-checkbox-input w-checkbox-input--inputType-custom checkbox"></div>
												<input type="checkbox" id="checkbox-2" name="checkbox-2" data-name="Checkbox 2" style="opacity:10;position:absolute;z-index:-1" />
												<span class="text-size-regular w-form-label" for="checkbox-2">User Reserch</span>
											</label>
										</div>
										<div>
											<label class="w-checkbox checkbox-field">
												<div class="w-checkbox-input w-checkbox-input--inputType-custom checkbox"></div>
												<input type="checkbox" id="checkbox-3" name="checkbox-3" data-name="Checkbox 3" style="opacity:10;position:absolute;z-index:-1" />
												<span class="text-size-regular w-form-label" for="checkbox-3">Strategy &amp; Consulting</span>
											</label>
											<div class="padding-bottom padding-xsmall"></div>
											<label class="w-checkbox checkbox-field">
												<div class="w-checkbox-input w-checkbox-input--inputType-custom checkbox"></div>
												<input type="checkbox" id="checkbox-2" name="checkbox-2" data-name="Checkbox 2" style="opacity:10;position:absolute;z-index:-1" />
												<span class="text-size-regular w-form-label" for="checkbox-2">Contact Creation</span>
											</label>
										</div>
									</div>
								</div>
								<input type="submit" data-wait="Please wait..." class="button is-contact w-button" value="Send Message" />
							</form>
							<div class="w-form-done">
								<div>Thank you! Your submission has been received!</div>
							</div>
							<div class="w-form-fail">
								<div>Oops! Something went wrong while submitting the form.</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>