<div class="main-wrapper">
	<div class="section-career-header">
		<div class="padding-global">
			<div class="container-large">
				<div class="padding-section-large">
					<div class="career-header-component">
						<div class="career-header-content">
							<div data-w-id="bab142fd-1bfd-21e2-7a25-0dcb642b6458" style="opacity:10" class="career-header-left-content">
								<div class="heading-wrapper">
									<h2 class="heading-style-h2">Career With Growthli</h2>
								</div>
								<div class="caree-header-bottom-content-wrapper">
									<p class="text-size-xxlarge text-color-gray">Growthli Careers: Unlock your potential with dynamic opportunities for growth, innovation, and success. Join us for a rewarding journey in shaping the future of marketing excellence.</p>
									<a href="/contact" class="button secondary is-green-hover w-button">Apply Now</a>
								</div>
							</div>
							<div data-w-id="a649eb09-5329-5588-e5ba-cd964aaa42ab" style="opacity:10" class="career-header-top-content">
								<img src="~/images/employee-20images.svg" loading="lazy" alt="" />
							</div>
						</div>
						<div class="padding-bottom padding-xxlarge"></div>
						<div class="career-header-image">
							<div data-w-id="9f1a24a5-5795-5980-ef53-ecc7d21bcec8" style="opacity:10" class="career-image-wrapper">
								<img src="~/images/image-200222.png" loading="lazy" alt="" class="career-image" />
							</div>
							<img class="career-image" src="~/images/image-20024.png" alt="" style="opacity:10" sizes="(max-width: 479px) 93vw, (max-width: 767px) 94vw, (max-width: 991px) 59vw, 60vw" data-w-id="f8042604-2634-aa2d-3fe9-7f69a5601f24" loading="lazy" srcset="~/images/image-20024-p-500.png 500w, images/image-20024.png 792w" />
							<div data-w-id="8872795a-bc17-f26c-fd6d-7334f9c07d77" style="opacity:10" class="career-image-wrapper">
								<img src="~/images/rectangle-2081.png" loading="lazy" alt="" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section-culture">
		<div class="padding-global">
			<div class="container-large">
				<div class="padding-section-large">
					<div class="culture-component">
						<div data-w-id="cf9f8810-6a95-7cc3-6d9c-f935792c4c43" style="opacity:10" class="culture-content">
							<h2 class="heading-style-h2">Growthli Office Culture</h2>
							<div class="text-size-medium">Fostering Excellence: Explore the Vibrant and Inclusive Culture that Defines Amplify&#x27;s Workplace Experience</div>
						</div>
						<div class="padding-bottom padding-medium"></div>
						<div class="w-layout-grid culture-grid">
							<div data-w-id="9db61047-9b73-8703-ca72-97989d84b537" style="opacity:10" class="culture-card">
								<img src="~/images/icon-2011.svg" loading="lazy" alt="" />
								<h5 class="heading-style-h5">Best customer experience</h5>
							</div>
							<div data-w-id="b37bd70f-75fa-ac46-5f13-13264e65ef90" style="opacity:10" class="culture-card">
								<img src="~/images/icon-2013.svg" loading="lazy" alt="" />
								<h5 class="heading-style-h5">No politics.</h5>
							</div>
							<div data-w-id="5ed4ccef-4f76-7e0c-9c19-aae13da16e8a" style="opacity:10" class="culture-card">
								<img src="~/images/icon-2014.svg" loading="lazy" alt="" />
								<h5 class="heading-style-h5">Weekly celebration</h5>
							</div>
							<div data-w-id="931d407f-7ea1-31bb-63c6-0e627eb3c2a9" style="opacity:10" class="culture-card">
								<img src="~/images/noun-collaboration-6515987.svg" loading="lazy" alt="" />
								<h5 class="heading-style-h5">Collaboration</h5>
							</div>
							<div data-w-id="b471200f-59a4-e803-8ef4-b9fe516d28a2" style="opacity:10" class="culture-card">
								<img src="~/images/icon-2015.svg" loading="lazy" alt="" />
								<h5 class="heading-style-h5">Empathy</h5>
							</div>
							<div data-w-id="1dc30296-f45c-b1a9-15be-03213f5865f2" style="opacity:10" class="culture-card">
								<img src="~/images/icon-2016.svg" loading="lazy" alt="" />
								<h5 class="heading-style-h5">Grow 1% every day.</h5>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section-career">
		<div class="padding-global">
			<div class="container-large">
				<div class="padding-section-large">
					<div class="career-component">
						<div data-w-id="a61a7781-1410-70bc-cbf0-9e10d3331257" style="opacity:10" class="career-content">
							<h2 class="heading-style-h2">Your next career step with Growthli</h2>
							<p class="text-size-medium">Seize the Opportunity: Elevate Your Professional Journey with Amplify&#x27;s Inspiring and Rewarding Career Pathways</p>
						</div>
						<div class="padding-bottom padding-medium"></div>
						<div data-w-id="7f1c8d56-ce50-5d88-1596-861783524340" style="opacity:10" class="career-collection-list-wrapper w-dyn-list">
							<div role="list" class="career-collection-list w-dyn-items">
								<div role="listitem" class="career-collection-list-item w-dyn-item">
									<a href="/career/graphic-designer" class="career-link w-inline-block">
										<div class="career-card-content">
											<h5 class="heading-style-h5">Graphic Designer</h5>
											<div class="career-button">
												<img src="~/images/arrow-up-right.svg" loading="lazy" alt="" />
											</div>
										</div>
										<div class="career-job-content">
											<div class="career-card-jobs-details job-type">
												<img src="~/images/clock-201.svg" loading="lazy" alt="" />
												<div>Part Time</div>
											</div>
											<div class="career-card-jobs-details job-location">
												<img src="~/images/map.svg" loading="lazy" alt="" />
												<div> Ireland</div>
											</div>
											<div class="career-card-jobs-details job-category">
												<img src="~/images/umbrela.svg" loading="lazy" alt="" />
												<div>Customer Support</div>
											</div>
										</div>
									</a>
								</div>
								<div role="listitem" class="career-collection-list-item w-dyn-item">
									<a href="/career/customer-success-manager" class="career-link w-inline-block">
										<div class="career-card-content">
											<h5 class="heading-style-h5">Customer Success Manager</h5>
											<div class="career-button">
												<img src="~/images/arrow-up-right.svg" loading="lazy" alt="" />
											</div>
										</div>
										<div class="career-job-content">
											<div class="career-card-jobs-details job-type">
												<img src="~/images/clock-201.svg" loading="lazy" alt="" />
												<div>Full Time</div>
											</div>
											<div class="career-card-jobs-details job-location">
												<img src="~/images/map.svg" loading="lazy" alt="" />
												<div> Ireland</div>
											</div>
											<div class="career-card-jobs-details job-category">
												<img src="~/images/umbrela.svg" loading="lazy" alt="" />
												<div>Design</div>
											</div>
										</div>
									</a>
								</div>
								<div role="listitem" class="career-collection-list-item w-dyn-item">
									<a href="/career/social-media-manager" class="career-link w-inline-block">
										<div class="career-card-content">
											<h5 class="heading-style-h5">Social Media Manager</h5>
											<div class="career-button">
												<img src="~/images/arrow-up-right.svg" loading="lazy" alt="" />
											</div>
										</div>
										<div class="career-job-content">
											<div class="career-card-jobs-details job-type">
												<img src="~/images/clock-201.svg" loading="lazy" alt="" />
												<div>Part Time</div>
											</div>
											<div class="career-card-jobs-details job-location">
												<img src="~/images/map.svg" loading="lazy" alt="" />
												<div> Poland</div>
											</div>
											<div class="career-card-jobs-details job-category">
												<img src="~/images/umbrela.svg" loading="lazy" alt="" />
												<div>Marketing</div>
											</div>
										</div>
									</a>
								</div>
								<div role="listitem" class="career-collection-list-item w-dyn-item">
									<a href="/career/digital-marketing-manager" class="career-link w-inline-block">
										<div class="career-card-content">
											<h5 class="heading-style-h5">Digital Marketing Manager</h5>
											<div class="career-button">
												<img src="~/images/arrow-up-right.svg" loading="lazy" alt="" />
											</div>
										</div>
										<div class="career-job-content">
											<div class="career-card-jobs-details job-type">
												<img src="~/images/clock-201.svg" loading="lazy" alt="" />
												<div>Full Time</div>
											</div>
											<div class="career-card-jobs-details job-location">
												<img src="~/images/map.svg" loading="lazy" alt="" />
												<div>Canada</div>
											</div>
											<div class="career-card-jobs-details job-category">
												<img src="~/images/umbrela.svg" loading="lazy" alt="" />
												<div>Marketing</div>
											</div>
										</div>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>